/* 
    This style sheet stylizes the controls inside our
    TA Manager JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Note that it may seem overwhelming to see so many different
    style classes, even though our application doesn't have that
    many controls, but what this allows us to do is easily
    control and update the style of the entire user interface
    via a stylesheet without having the change Java code.

    Author:	Richard McKenna
    Co-Author:  Janmejay Bhavsar
    Version:	1.0
*/
.root{
    -fx-font-family: "Arial";
}

.dialog_pane {
    -fx-padding:15;
}

.dialog_heading {
    -fx-font-size: 24pt;
    -fx-background-color: bisque;
    -fx-color:red;
}

.dialog_prompt {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-padding: 10;
}

.plain_pane{
    
}

.bordered_pane {
    -fx-background-color: #f4b042;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 2px;
    -fx-border-color: #f4ca41;
}

.course_info_label{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.course_pane{
    -fx-background-color:#d9d9d9;
}

.course_info_pane_button{
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10; 
}

.site_template_label{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.site_template_pane{
    -fx-background-color:#d9d9d9;
}

.site_template_pane_button{
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10; 
}

.page_style_label{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.page_style_pane{
    -fx-background-color:#d9d9d9;
}

.page_style_pane_buttons{
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.header_pane{
    -fx-background-color:#f4ca41;
}

.header_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.ta_table{
    -fx-font-size:16pt;
    -fx-background-color:#d9d9d9;
}

.table-view .column-header.ta_table_column_header .label {
    -fx-background-color:#d9d9d9;
}

.add_ta_pane{
    -fx-padding: 5 10 5 10;
}

.add_ta_text_field{
    -fx-font-size: 14pt;
}

.add_ta_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.update_ta_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.clear_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.clear_button_1{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.remove_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10; 
}
.office_hours_grid_new_end_time{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.office_hours_grid_new_start_time{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.office_hours_grid_update_time_button{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;    
}
.office_hours_grid{
    -fx-background-color:#d9d9d9;
}

.office_hours_grid_time_column_header_pane{
    -fx-background-color:#666666;
    -fx-border: 1px;    
}

.office_hours_grid_time_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_day_column_header_pane{
    -fx-background-color:#666666;
    -fx-border: 1px;
    -fx-border-color: #000066;
}

.office_hours_grid_day_column_header_label{
    -fx-text-fill:white;
    -fx-font-size:14pt;   
    -fx-font-weight:bold;
    -fx-padding: 10 20 10 20;
}

.office_hours_grid_time_cell_pane{
    -fx-background-color:#666666; 
    -fx-border: 1px;   
    -fx-border-color:darkgray;
    -fx-border-style:dashed;
}

.office_hours_grid_time_cell_label{
    -fx-font-size:14pt;
    -fx-text-fill:white;
}

.office_hours_grid_ta_cell_pane{
    -fx-background-color:#d9d9d9;
    -fx-border: 1px;
    -fx-border-color: black;
}

.office_hours_grid_ta_cell_label{
    -fx-font-weight:bold;
    -fx-font-size:12pt;  
    -fx-padding: 5 10 5 10;
}

.highlighted_grid_cell {
    -fx-border-color: #f2f2f2;
    -fx-border: 5px;
    -fx-background-color:#f2f2f2;
}

.highlighted_grid_row_or_column {
    -fx-border-color: #f2f2f2;
    -fx-border: 5px;
    -fx-border-style:solid;
}

.recitation_label{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.recitation_header_box{
    -fx-background-color:#f4ca41;
}

.recitation_tab_panes{
    -fx-background-color:#d9d9d9;
}

.recitation_buttons{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;   
}

.add_edit_label{
     -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.add_edit_box{
    -fx-background-color:#d9d9d9;
}

.schedule_header_label{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.schedule_header_box{
    -fx-background-color:#f4ca41;
}

.calendar_box{
    -fx-background-color:#d9d9d9;
}

.schedule_items_pane{
    -fx-background-color:#d9d9d9;
}

.schedule_pane_buttons{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10; 
}

.calendar_boundaries_label{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.calendar_boundaries_box{
    -fx-background-color:#d9d9d9;
}

.schedule_items_label{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.schedule_items_header_box{
    -fx-background-color:#d9d9d9;
}

.project_header_label{
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-padding: 5 10 5 10;
}

.project_header_box{
    -fx-background-color:#f4ca41;
}

.team_pane{
    -fx-background-color:#d9d9d9;
}

.student_pane{
    -fx-background-color:#d9d9d9;
}

.project_pane_buttons{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10; 
}

.teams_label{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.team_header_box{
    
}

.students_label{
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
  -fx-border-radius: 10 10 10 10;
  -fx-background-radius: 10 10 10 10;
}

.student_header_box{
    
}